@font-face {
  font-family: "Bogart";
  src: local("Bogart-Regular-trial"),
    url(./fonts/Bogart-Regular-trial.ttf) format("truetype")
  ;
}

html, body, main {
  margin: 0;
  padding: 0;
  height: 100%;
}

body {
  background-color: #f7d872;  /* fallback for old browsers */
  background-color: -webkit-linear-gradient(to top,#ffffff, #ffecd1);  /* Chrome 10-25, Safari 5.1-6 */
  background: no-repeat center fixed linear-gradient(to top, #ffffff, #ffecd1); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  color: #3a3939;
  font-family: Inter, sans-serif;
  box-sizing: border-box;
  position: relative;
}

main,
.start-screen, 
.answers,
.game-screen,
.score-display,
.game-bottom {
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Typo */

h1, h2, h3, h4 {
  margin: 0;
  text-align: center;
}

h1 {
  font-family: "Bogart", sans-serif;
  font-size: 70px;
  background: linear-gradient(271deg,#56d6fd 30%,#9247e7 50%,#f093b0 70%,#fda900 94%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  text-shadow: 1px 1px 10px rgb(255, 255, 255);
  text-align: center;
  animation: float 2s ease-in-out infinite; 
}

h3 {
  margin-bottom: 15px;
}

/* Start screen */

.game-info {
  margin: 0 0 2em;
  font-size: 20px;
  font-weight: 700;
  background: linear-gradient(271deg,#a0e9ff 30%,#a162e8 50%,#f093b0 70%,#edca85 94%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  text-align: center;
}


.start-screen {
  margin-top: 10em;
  flex-direction: column;
}

.start-btn,
.results-btn,
.play-again-btn {
  font-family: Inter, sans-serif;
  background: #a0e9ff;
  border-radius: 15px;
  color: #fff;
  padding: 20px 40px;
  font-weight: 700;
  border: transparent;
  font-size: 23px;
  box-shadow: 1px 1px 15px rgb(173, 173, 173);
  cursor: pointer;
}

.start-btn:hover,
.results-btn:hover,
.play-again-btn:hover {
  box-shadow: 1px 1px 10px rgb(173, 173, 173);
  opacity: 0.9;
}

.details {
  width: 60%;
  text-align: center;
  color: #293264a6;
  font-size: 15px;
  position: absolute;
  bottom: 0;
}

.select {
  border: transparent;
  padding: 10px;
  font-family: Inter, sans-serif;
  border-radius: 10px;
  margin-bottom: 1.5em;
  font-size: 16px;
  box-shadow: 1px 1px 10px rgb(167, 165, 165);
  cursor: pointer;
}

h2 {
  color: rgb(64, 146, 194);
  font-size: 30px;
  margin-bottom: 0.2em;
}

/* Game screen */

.game-screen {
  margin-top: 1em;
  max-width: 700px;
  background: whitesmoke;
  border-radius: 20px;
  padding: 10px;
  flex-direction: column;
  padding: 30px;
  width: 90%;
  box-shadow: 1px 1px 20px rgba(0, 0, 0, 0.253);
}

.question-set {
  border-bottom: 1px solid #2932642f;
  padding: 20px 0px;
  width: 90%;
}

.answer {
  border: 1px solid rgba(167, 167, 167, 0.329);
  border-radius: 10px;
  padding: 10px;
  width: 150px;
  text-align: center;
  font-weight: 700;
  cursor: pointer;
  font-size: 90%;
}

.answers {
  justify-content: flex-start;
  gap: 20px;
  margin-bottom: 0.5em;
}

#score {
  font-size: 40px;
}

.results-btn,
.play-again-btn {
  background-color: #888787;
 margin-top: 2em;
 font-size: 18px;
}

.game-bottom{
  width: 100%;

}

.score-display {
  gap: 50px;
  align-items: baseline;
}

.user-score,
.game-comment {
  font-size: 24px
}

.game-comment {
  width: 20%;
}

.fa-house {
  align-self: flex-start;
  cursor: pointer;
}

.fa-house:hover {
  filter: invert(1);
  scale: 1.1;
}

/* Dynamic classes */

.selected {
  background-color: #D6DBF5;
}

.good {
  background-color: #8ddb9e;
  border: transparent;
}

.bad {
  background-color: #fc9b9b;
  border: transparent;
  opacity: 0.6;
}

.grayed {
  opacity: 0.6;
}

.unselectable {
  pointer-events: none;
}

/* Animation */

@keyframes float {
	0% {
		transform: translatey(0px);
	}
	50% {
		transform: translatey(10px);
	}
	100% {
		transform: translatey(0px);
	}
}

/*  Responsive  */

@media screen and (max-width : 600px) {

  body {
    background: whitesmoke;
  }

  h1 {
    font-size: 50px;
    width: 80%;
    line-height: 1em;
    margin-bottom: 1em;
  }

  h2 {
    font-size: 25px;
  }

  .user-score,
  .game-comment {
    font-size: 18px;
  }

  .game-screen {
    margin-top: 0;
    box-shadow: none;
  }

  .question {
    font-size: 15px;
  }
  .answer {
    font-size: 10px;
  }

  .answers {
    gap: 5px;
  }

  .results-btn,
  .play-again-btn {
  background-color: #888787;
  margin-top: 4em;
  font-size: 14px;
}

  
}

@media screen and (max-width : 500px) {

.game-comment {
  width: 80%;
}

.score-display {
  margin-top: 2em;
  flex-direction: column;
  align-items: center;
  gap: 15px
}

.play-again-btn {
  margin-top: 0;
}

.answers {
  justify-content: center;
  flex-wrap: wrap;
}

.game-info {
  width: 80%;
}

}

@media screen and (max-width : 300px) {

  .question {
    font-size: 13px;
  }
  .answer {
    font-size: 10px;
    padding: 5px;
  }

  .results-btn,
  .play-again-btn {
    background-color: #888787;
    font-size: 12px;
}

}